<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.crm.mapper.CustomerMapper">
    <sql id="customerQueryVo">

        <if test="startAddress != null and startAddress != ''">
            AND start_address LIKE '%${startAddress}%'
        </if>
        <if test="endAddress != null and endAddress != ''">
            AND end_Address LIKE '%${endAddress}%'
        </if>
        <if test="orderDate != null and orderDate != ''">
            AND orderdate = #{orderDate}
        </if>

    </sql>

    <!-- 根据queryVo分页查询数据 -->
    <select id="queryCustomerByQueryVo" parameterType="com.itcast.crm.pojo.QueryVo"
            resultType="com.itcast.crm.pojo.Customer">
        select customer.customerno,orderno,customername,qq,wechat,phone,orderdate,start_address,end_address,note
        from
        customer,ordermaster
        WHERE
        customer.customerno=ordermaster.customerno

        <include refid="customerQueryVo"/>
        order by orderdate desc
        <if test="start != null">
            LIMIT #{start}, #{rows}
        </if>

    </select>

    <!-- 根据queryVo查询数据条数 -->
    <select id="queryCountByQueryVo" parameterType="com.itcast.crm.pojo.QueryVo"
            resultType="int">
        SELECT count(1) FROM ordermaster
        <where>
            <if test="startAddress != null and startAddress != ''">
                AND start_address LIKE '%${startAddress}%'
            </if>
            <if test="endAddress != null and endAddress != ''">
                AND end_Address LIKE '%${endAddress}%'
            </if>
            <if test="orderDate != null and orderDate != ''">
                AND orderdate = #{orderDate}
            </if>
        </where>
    </select>
    <!--根据订单编号来查询该订单得具体信息-->
    <select id="queryCustomerById" resultType="com.itcast.crm.pojo.Customer">
         select customer.customerno,customername,qq,wechat,phone,orderdate,start_address,end_address,note
        from customer,ordermaster
         where ordermaster.orderno=#{id}
         and
         customer.customerno=ordermaster.customerno

    </select>

    <!--创建一条用户的拼车信息-->
    <insert id="createInfo" parameterType="com.itcast.crm.pojo.Customer">
        insert into ordermaster(orderno,orderdate,start_address,end_address,note,customerno)
        values (#{orderno},#{orderdate},#{start_address},#{end_address},#{note},#{customerno})
    </insert>

    <!--注册一个新用户-->
    <insert id="createNewUser" parameterType="com.itcast.crm.pojo.Customer">
        insert into customer(customername,password,email,qq,wechat,phone)
        values(#{customername},#{password},#{email},#{qq},#{wechat},#{phone})
    </insert>

    <!--登录验证-->
    <select id="checkLogin" resultType="com.itcast.crm.pojo.Customer">
         select email,password,customername,customerno from customer where email=#{email} and password=#{password}
    </select>

    <!--检验邮箱是否已经注册过-->
    <select id="checkEmailIsExisted" resultType="string">
        select customerno from customer where email=#{email}
    </select>

    <!--根据个人编号来查看个人的所有已近发布信息-->
    <select id="queryPersonalInfoByCno" resultType="com.itcast.crm.pojo.Customer">
        select customer.customerno,customername,qq,wechat,phone,orderno,orderdate,start_address,end_address,note
        from customer,ordermaster
         where
         customer.customerno=#{customerNo}
         and
         customer.customerno=ordermaster.customerno
         order by orderdate desc
    </select>

    <!--根据订单编号orderno来修改一条拼车信息记录-->
    <update id="updateInfo" parameterType="com.itcast.crm.pojo.Customer">
        update ordermaster
        set
        start_address=#{start_address},
        end_address=#{end_address},
        orderdate=#{orderdate},
        note=#{note}
        where orderno=#{orderno}
    </update>

    <!--根据订单编号来删除已经发布的拼车信息-->
    <delete id="deleteInfo" parameterType="string">
        delete from ordermaster where orderno=#{orderNo}
    </delete>

    <!--根据唯一的邮箱号来修改密码-->
    <update id="updatePassword" parameterType="com.itcast.crm.pojo.Customer">
        update customer set password=#{password}
        where email=#{email}
    </update>

    <!--根据客户（用户）编号来修改用户的个人信息（手机号，微信号，qq号)-->
    <update id="updatePrivateInfo" parameterType="com.itcast.crm.pojo.Customer">
        update customer set phone=#{phone},wechat=#{wechat},qq=#{qq}
        where
        customerno=#{customerno}
    </update>

    <!-- //由于登录成功以后用户名保存在session中，故只要获得qq号码，手机号码，微信号码就可以，邮箱-->
    <select id="getPrivateInfo" parameterType="long" resultType="com.itcast.crm.pojo.Customer">
        select qq,phone,wechat,email from customer
        where
        customerno=#{customerNo}
    </select>

    <!--用来插入一条反馈记录-->
    <insert id="createFeedBack" parameterType="com.itcast.crm.pojo.FeedBack">
        insert into feedback(customerno,details)
        values (#{customerno},#{details})
    </insert>


</mapper>
